body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Arial, Helvetica, sans-serif;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    line-height: 1.6;
}

h1 {
    font-size: 2em;
    font-weight: 400;
    line-height: 1.2;
}

h3 {
    font-size: .8em;
    text-transform: uppercase;
    padding-bottom: 20px;
    font-weight: 400;
    line-height: 1.2;
    font-family: monospace;
}

.star {
    font-size: 4em;
    line-height: 1;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Arial, Helvetica, sans-serif;
}

@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg); /* Start at 0 degrees rotation */
  }
  100% {
    transform: rotate(360deg); /* End at 360 degrees rotation for a full spin */
  }
}

.prompt {
    font-size: 1.5em
}

.prompt a {
    color: #000000;
    text-decoration: none;
}

.prompt > a:hover {
    cursor: hand;
    color: #0000ff;
}

#table-of-contents {
    width: 100%;
    border-collapse: collapse;
}

#table-of-contents tr {
    border-bottom: 1px solid rgb(216, 216, 216);
    padding: 2px;
}

#table-of-contents td {
    border: 0px dashed rgb(73, 73, 73);
}

@media all and (max-width: 1024px) {
    body {
        width: 90%;
        padding: 10px;
        margin: 0 auto;
    }
}

@media all and (max-width: 480px) {
    html, body {
        width: 90%;
        max-width: 90%;
        padding: 10px;
        margin: 0 auto;
        font-size: 0.75em;
    }
    
    #table-of-contents {
        width: 100%;
        padding: 10px;
    }

    #table-of-contents td {
        padding-left:10px;
        line-height: 1;
    }
}

h3 a, h3 a:visited {
    color: #000000;
    text-decoration: none;
}

h3 a:hover {
    color: #0000ff;
}